body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.color-container {
  position: relative;
  display: inline-block;
}
.color-container #color-picker {
  position: absolute;
}

.background-container {
  position: relative;
  display: inline-block;
}
.background-container #background-picker {
  position: absolute;
}

#navbar {
  height: 50px;
}

#content {
  display: flex;
}
#sidebar {
  width: 200px;
  height: calc(100vh - 50px);
}

#video-container {
  display: inline-block;
  border: 1px solid red;
  position: relative;
}
#video-container #rang-container {
  position: absolute;
  bottom: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
}
#video-container #rang-container #rang
{
  background-color: gray;
  height: 3px;
}