body{
  margin: 0;
 
}
.color-container {
 
 position: relative;
 display: inline-block;
}
#color-picker {
  position: absolute;
}

.background-container {
  
  position: relative;
  display: inline-block;
 }
 #background-picker {
   position: absolute;
 }