.timing {
    background-color: #505052;
    height: 50px;
  
    position: absolute;
    color: white;
    left: 0;
    top: 0;
    display: inline-block;
  }
  .timing-left {
    position: absolute;
    left: -4px;
    background-color: cornflowerblue;
    width: 8px;
    height: 30px;
    margin: auto;
    border-radius: 4px;
    bottom: 0;
    top: 0;
    cursor: e-resize;
  }
  #timing-container {
    width: 100%;
    height: 100px;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  .timing-right {
    position: absolute;
    right: -4px;
    background-color: cornflowerblue;
    width: 8px;
    height: 30px;
    margin: auto;
    border-radius: 4px;
    bottom: 0;
    top: 0;
    cursor: e-resize;
  }

  .time {
    overflow: hidden;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
  }